/* -------------------------------------------*/
/* BASIC SETUP */
/* -------------------------------------------*/
html,
body {
	font-family: 'Montserrat', 'Arial', sans-serif;
	overflow-x: hidden;
	color: #202121;
}

body { margin: 0; }

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* -------------------------------------------*/
/* HEADER */
/* -------------------------------------------*/
header {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(https://images.unsplash.com/photo-1491956142110-8a4226a12077?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9d65bd7937511c934d4b450d31f2c1ec&auto=format&fit=crop&w=1050&q=80);
	background-size: cover;
	background-position: center;
	height: 500px;
}
nav {
	background-color: #33C6B7;
	top: 0;
	width: 100%;
	padding: 0;
}

.navbar {
	max-width: 1140px;
	margin: 0 auto;
	padding-left: 40px;
}

i {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 0;
	font-size: 40px;
	color: #FFF;
}

h1 {
	color: #FFF;
	text-align: center;
	padding-top: 7%;
	font-weight: 400;
	font-size: 60px;
	text-transform: uppercase;
}

h2 {
	font-size: 26px;
	color: #FFF;
	text-align: center;
	font-weight: 300;
}

/* -------------------------------------------*/
/* FORM */
/* -------------------------------------------*/
.section-form {
	background-color: #F9FAFC;
	border-radius: 3px;
}

.form-grid {
	max-width: 1140px;
	background-color: #FFF;
	margin: 0 auto;
	padding-top: 30px;
}

#description {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
}

#survey-form {
	display: grid;
	width: 40%;
	font-weight: 300;
	font-size: 16px;
	text-align: left;
	margin: 0 auto;
}

label {	padding-top: 30px; }

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 6px;
	resize: vertical;
	font-size: 13px;
}

input[type=email], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 6px;
	resize: vertical;
	font-size: 13px;
}

input[type=number], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 6px;
	resize: vertical;
	font-size: 13px;
}

label select {
	height: 40px;
	font-size: 13px;
	color: #7E7575;
	background-color: #FFF;
}

input[type=radio], checked { 
    background-color: black; 
}

#spending-label input,
#clothing-type-label input {
	margin-top: 15px;
}

input[type=submit] {
	width: 50%;
	background-color: #33C6B7;
	color: #FFF;
	font-size: 16px;
	font-weight: 200;
	padding: 12px;
	border: none;
	border-radius: 200px;
	cursor: pointer;
	margin-bottom: 40px;
}

input[type=submit]:hover {
	background-color: #2eb2a4;
	transition: background-color 0.2s;
}

#submit-label,
#submit {
  margin-left: auto;
  margin-right: auto;
}

/* -------------------------------------------*/
/* FOOTER */
/* -------------------------------------------*/
footer {
	background-color: #33C6B7;
	padding-bottom: 5px;
}

.footer {
	max-width: 1140px;
	margin: 0 auto;
	list-style: none;
}

footer li { display: inline-block; }

h4 {
	margin: 0 auto;
	padding-left: 20px;
	font-size: 14px;
	color: #FFF;
	font-weight: 300;
}

/* -------------------------------------------*/
/* MEDIA QUERIES */
/* -------------------------------------------*/
@media only screen and (max-width: 1350px) {
	header { height: 400px; }
	
	h1 { padding-top: 4%; }
}

@media only screen and (max-width: 900px) {
	#survey-form {
		min-width: 80%;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 700px) {
	header {
		height: 300px;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(https://images.unsplash.com/photo-1491956142110-8a4226a12077?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9d65bd7937511c934d4b450d31f2c1ec&auto=format&fit=crop&w=1050&q=80);
	}
	
	h1 {
    padding-top: 7%;
    font-size: 40px;
	}

	h2 {
		font-size: 20px;
		font-weight: 200;
	}
}

@media only screen and (max-width: 550px) {
	header { height: 200px; }
	
	h1 {
    padding-top: 1%;
    font-size: 30px;
	}

	h2 {
		font-size: 18px;
		font-weight: 200;
		margin-top :0;
	}
}

